// ---------------------------------------------------------===
// custom variables
// ---------------------------------------------------------===

// ------------------------------==
// paths
// ------------------------------==
$font-path: "/assets/fonts";
$icomoon-font-path: "#{$font-path}/icomoon";
$image-path: "/assets/images";

// ------------------------------==
// font name
// ------------------------------==
$arial: 'Arial', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;